.master {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    left: 0px;
    top: 0px;

}

.bg {
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.pic1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pic2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pic3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.refpic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backbtn {
    position: absolute;
    left: 19.2%;
    top: 81%;
    width: 3%;
    height: 7%;
    cursor: pointer;
}

.refbtn {
    position: absolute;
    bottom: 25px;
    right: 18%;
    width: 3%;
    height: 6%;
    cursor: pointer;
}

.exitrefpic {
    position: absolute;
    right: 14%;
    top: 12%;
    width: 4%;
    height: 6%;
    display: none;
    cursor: pointer;
}

.next1 {
    position: absolute;
    right: 17.8%;
    top: 48%;
    width: 3%;
    height: 7%;
    cursor: pointer;
}

.next2 {
    position: absolute;
    right: 17.8%;
    top: 57.4%;
    width: 3%;
    height: 7%;
    cursor: pointer;
}

.exit1 {
    position: absolute;
    right: 14%;
    top: 20%;
    width: 4%;
    height: 6%;
    display: none;
    cursor: pointer;
}

.exit2 {
    position: absolute;
    right: 14%;
    top: 20%;
    width: 4%;
    height: 6%;
    display: none;
    cursor: pointer;
}


.pp1 {
    position: absolute;
    display: none;
    bottom: 20.2%;
    right: 16.8%;
    width: 3%;
    height: 6%;
    cursor: pointer;
}

.pp2 {
    position: absolute;
    display: none;
    bottom: 20.2%;
    right: 16.8%;
    width: 3%;
    height: 6%;
    cursor: pointer;
}

.pppic {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
}

.exitpppic1 {
    position: absolute;
    top: 13%;
    right: 15.1%;
    width: 3%;
    height: 5%;
    display: none;
    cursor: pointer;
}

.exitpppic2 {
    position: absolute;
    top: 13%;
    right: 15.1%;
    width: 3%;
    height: 5%;
    display: none;
    cursor: pointer;
}